/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT  0
#define LOWER    1 // Symbols
#define RAISE    2 // Numbers + Navigation
#define FUNCTION 3 // Function + Media Controls
#define GAMING   4
#define SETTINGS 5

/ {
    behaviors {
        bm: bottom_row_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "BOTTOM_ROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ----------------------------------------------------------------------------------------------------------------------------------
// |  CTRL |   1    |   2   |  3  |  4  |     5      |                        |     6     |  7  |    8     |   9   |   0    |   `   |
// |  TAB  |   Q    |   W   |  F  |  P  |     B      |                        |     J     |  L  |    U     |   Y   |   ;    | CTRL  |
// |  ESC  |   A    |   R   |  S  |  T  |     G      |                        |     M     |  N  |    E     |   I   |   O    |   '   |
// | SHIFT | Z/Ctrl | X/ALT |  C  |  D  |     V      |   GAMING    |  |  "]"  |     K     |  H  |    ,     | ./Alt | //Ctrl | SHIFT |
//                          | ALT | GUI | BSPC/LOWER | ENTER/SHIFT |  | SPACE | TAB/RAISE | GUI | SETTINGS |
//
// NOTE: Having backspace with a layer tap is annoying but get's you in the
// habbit of not holding it but using combinations to delete words which works
// great in the long run
			bindings = <
&kp LCTRL &kp N1      &kp N2     &kp N3   &kp N4   &kp N5                                   &kp N6        &kp N7   &kp N8       &kp N9       &kp N0         &kp GRAVE
&kp TAB   &kp Q       &kp W      &kp F    &kp P    &kp B                                    &kp J         &kp L    &kp U        &kp Y        &kp SEMI       &kp LCTRL
&kp ESC   &kp A       &kp R      &kp S    &kp T    &kp G           &kp LC(UP)     &kp K_PP  &kp M         &kp N    &kp E        &kp I        &kp O          &kp SQT
&kp LSHFT &bm LCTRL Z &bm LALT X &kp C    &kp D    &kp V           &tog GAMING    &kp RBKT  &kp K         &kp H    &kp COMMA    &bm LALT DOT &bm RCTRL FSLH &kp RSHFT
                                 &kp LALT &kp LGUI &lt LOWER BSPC  &bm LSHIFT RET &kp SPACE &lt RAISE TAB &kp RGUI &mo SETTINGS
			>;

			sensor-bindings = <&inc_dec_kp LC(LEFT) LC(RIGHT) &inc_dec_kp PG_UP PG_DN>;
		};

		lower_layer {
// -------------------------------------------------------------------------------------------
// |     |     |     |     |     |     |                 |     |     |     |     |     |     |
// |     |  !  |  @  |  #  |  $  |  %  |                 |  ^  |  &  |  *  |  (  |  )  |     |
// |     |  [  |  ]  |  (  |  )  |  `  |                 | "|" |  _  |  -  |  =  |  +  |  "  |
// |     |     |  !  |  {  |  }  |  \  |     |     |     |  ~  |  :  |  <  |  >  |  ?  |     |
//                   |     |     |     |     |     |     |     |     |     | 
			bindings = <
&trans  &trans    &trans    &trans    &trans      &trans                     &trans     &trans          &trans           &trans     &trans       &trans
&trans  &kp EXCL  &kp AT    &kp HASH  &kp DOLLAR  &kp PRCNT                  &kp CARET  &kp AMPS        &kp KP_MULTIPLY  &kp LPAR   &kp RPAR     &trans
&trans  &kp LBKT  &kp RBKT  &kp LPAR  &kp RPAR    &kp GRAVE  &trans  &trans  &kp PIPE   &kp UNDERSCORE  &kp MINUS        &kp EQUAL  &kp KP_PLUS  &kp DQT
&trans  &trans    &kp EXCL  &kp LBRC  &kp RBRC    &kp BSLH   &trans  &trans  &kp TILDE  &kp COLON       &kp LT           &kp GT     &kp QMARK    &trans
                            &trans    &trans      &trans     &trans  &trans  &trans     &trans          &trans
			>;

      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};

		raise_layer {
// --------------------------------------------------------------------------------------------
// |     |      |     |     |     |     |                 |     |     |     |     |     |     |
// |     | PGUP |  1  |  2  |  3  |  x  |                 |  v  |  -> |  x  |  x  |  x  |     |
// |     |  0   |  4  |  5  |  6  |  0  |                 |     |  x  |  x  |  x  |  x  |     |
// |     | PGDN |  7  |  8  |  9  |     |     |     |     |  ^  |  <- |  ,  |  .  |  /  |     |
//                    |     |     |     |     |     |     |     |     |     |
//
// Note: it is helpful to use trans so *, (, ), -, _, =, +, and % can be used in this
// layer too, as they are frequently used symbols with the numbers.
// x specifie that these should not be mapped
			bindings = <
&trans    &trans     &trans  &trans  &trans  &trans                  &trans    &trans     &trans     &trans     &trans    &trans
&trans    &kp PG_UP  &kp N1  &kp N2  &kp N3  &trans                  &kp DOWN  &kp RIGHT  &trans     &trans     &trans    &trans
&trans    &kp N0     &kp N4  &kp N5  &kp N6  &kp N0  &trans  &trans  &kp LEFT  &kp DOWN   &trans     &trans     &trans    &trans
&trans    &kp PG_DN  &kp N7  &kp N8  &kp N9  &trans  &trans  &trans  &kp UP    &kp LEFT   &kp COMMA  &kp DOT    &kp FSLH  &trans   
                             &trans  &trans  &trans  &trans  &trans  &trans    &trans     &trans                          
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};

		function_layer {
// ----------------------------------------------------------------------------------------------
// |     |     |     |     |     |     |                 |     |      |      |      |     |     |
// |     | F1  | F2  | F3  | F4  | F5  |                 |     |      |      |      |     |     |
// |     | F6  | F7  | F8  | F9  | F10 |                 |     | VOLv | MUTE | VOL^ |     |     |
// |     | F11 | F12 |     |     |     |     |     |     |     |   '  |   "  |      |     |     |
//                   |     |     |     |     |     |     |     |      |      |
// Adding sqt and dqt here as the last row on right side sometimes does not work 
// This is temprory (hopefully) and I will find a fix for this soon-ish.
			bindings = <
&trans  &trans   &trans   &trans  &trans  &trans                   &trans  &trans        &trans        &trans      &trans  &trans
&trans  &kp F1   &kp F2   &kp F3  &kp F4  &kp F5                   &trans  &trans        &trans        &trans      &trans  &trans
&trans  &kp F6   &kp F7   &kp F8  &kp F9  &kp F10  &trans  &trans  &trans  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_MUTE  &trans  &trans
&trans  &kp F11  &kp F12  &trans  &trans  &trans   &trans  &trans  &trans  &kp SQT       &kp DQT       &trans      &trans  &trans   
                          &trans  &trans  &trans   &trans  &trans  &trans  &trans        &trans
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};

        gaming_layer {
// ---------------------------------------------------------------------------------------------
// |  CTRL | 1 | 2 |  3  |  4  |   5   |                  |   6   |  7   |  8  | 9 | 0 |   `   |
// |  TAB  | Q | W |  E  |  R  |   T   |                  |   Y   |  U   |  I  | O | P | CTRL  |
// |  ESC  | A | S |  D  |  F  |   G   |                  |   H   |  J   |  K  | L | ; |   '   |
// | SHIFT | Z | X |  C  |  V  |   B   |       |  |       |   N   |  M   |  ,  | . | / | SHIFT |
//                 |     |     | BSPC  | SPACE |  | ENTER |       |      |     |
			bindings = <
&kp LCTRL &kp N1 &kp N2 &kp N3 &kp N4 &kp N5                     &kp N6 &kp N7 &kp N8    &kp N9  &kp N0   &kp GRAVE
&kp TAB   &kp Q  &kp W  &kp E  &kp R  &kp T                      &kp Y  &kp U  &kp I     &kp O   &kp P    &kp LCTRL
&kp ESC   &kp A  &kp S  &kp D  &kp F  &kp G    &trans    &trans  &kp H  &kp J  &kp K     &kp L   &kp SEMI &kp SQT
&kp LSHFT &kp Z  &kp X  &kp C  &kp V  &kp B    &trans    &trans  &kp N  &kp M  &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                        &trans &trans &kp BSPC &kp SPACE &kp RET &trans &trans &trans
			>;

			sensor-bindings = <&inc_dec_kp LC(LEFT) LC(RIGHT) &inc_dec_kp PG_UP PG_DN>;
		};

        settings_layer {
// -------------------------------------------------------------------------------------------------------
// |                  |       |   |     |       |  |      |  |      |     |   |       |                  |
// | bootloader reset | reset |                 |  |      |  | Power Contrlos | reset | bootloader reset |
// |                  |    Underglow Controls   |  |      |  | Backlight Controls     |                  |
// |                  |                         |  |  | | |  | Bluetooth Controls     |                  |
//                               |     |     |  |  |  | | |  |     |
			bindings = <
&trans      &trans          &trans          &trans          &trans          &trans               &trans     &trans           &trans            &trans            &trans       &trans
&bootloader &reset          &rgb_ug RGB_TOG &rgb_ug RGB_BRI &rgb_ug RGB_BRD &trans               &trans     &ext_power EP_ON &ext_power EP_OFF &ext_power EP_TOG &reset       &bootloader
&trans      &rgb_ug RGB_HUI &rgb_ug RGB_HUD &rgb_ug RGB_SPI &rgb_ug RGB_SPD &trans &trans &trans &trans     &trans           &trans            &trans            &trans       &trans
&trans      &rgb_ug RGB_HUD &rgb_ug RGB_SAD &rgb_ug RGB_EFF &rgb_ug RGB_EFR &trans &trans &trans &bt BT_CLR &bt BT_SEL 0     &bt BT_SEL 1      &out OUT_USB      &out OUT_BLE &trans
                                            &trans          &trans          &trans &trans &trans &trans     &trans           &trans
			>;

			sensor-bindings = <&inc_dec_kp LC(LEFT) LC(RIGHT) &inc_dec_kp PG_UP PG_DN>;
		};
	};
};
